rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // SIMPLE DEMO RULES:
    // Allow anyone (even not logged in) to read/write anything.
    // This is okay for your course project / demo.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
