@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

.event-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #f7f7f7;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Rubik;
  max-width: 2000px;
}

.event-card h3 {
  margin-top: 0;
}

.event-card .join-btn {
  margin-top: 10px;
  padding: 20px 12px;
  border: none;
  border-radius: 20px;
  background: red;
  color: white;
  cursor: pointer;
}

.event-card .join-btn:hover {
  background: grey;
}

h2 {
  font-weight: bold;
  font-family: Rubik;
}
