@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

.event-card {
  background: white;
  border-radius: 18px;
  padding: 18px;
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.event-card h3 {
  margin-top: 0;
  font-family: Rubik;
}

.event-card .join-btn {
  margin-top: 10px;
  padding: 20px 12px;
  border: none;
  border-radius: 10px;
  background: #A3BCF9;
  color: white;
  cursor: pointer;
}

.event-card .join-btn:hover {
  background: #7f9be0;
}

/* Stuff I added (faida) */
/* Page container */
.dashboard-container {
  padding: 20px;
  padding-bottom: 70px; 
}

/* Header container */


.dashboard-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Rubik;
  margin-top: 45px;
}

.notif-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* Cards */
.dashboard-card {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.dashboard-card:hover {
  transform: translateY(-3px);
}

.dashboard-card h2 {
  margin: 0;
  font-size: 1.5rem;
}


/* Events customization design stuff */
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 20px;
  margin-top: 45px;
  margin-bottom: 10px;
}

/* Card style */
.event-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  width: 100%;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.event-description {
  font-size: 0.95rem;
  opacity: 0.8;
}

.event-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  opacity: 0.7;
  margin-top: 10px;
}

.join-btn {
  margin-top: 16px;
  padding: 10px 14px;
  background: #A3BCF9;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
}


