html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.setting {
  width: 60px;
}

#profile {
  text-align: center;
  font-size: 50px;
}

.profilepicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
