@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

h1 {
  font-size: 100px;
  font-family: Rubik;
  gap: auto;
  float: right;
  padding-top: 10px;
  margin: 10px;
  background-color: white;
  color: black;
}

#createevent {
  display: flex;
  height: 100vh;
  margin: 10px;
  font-family: Rubik;
  flex-direction: column;
  gap: 20px;
}

textarea {
  resize: both;
}

.custom-btn {
  margin-top: 50px;
  display: block;
}

.autocomplete-results {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.autocomplete-results div {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-results div:hover {
  background-color: #eee;
}
