@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

.text {
  display: grid;
  grid-template-columns: 1fr;
  gap: auto;
  padding: 10px;
  float: right;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 6px 10px;
  margin: 8px;
  background-color: white;
  color: black;
  font-size: 40px;
  text-align: center;
  align-content: center;
  /* cursor: pointer;
  transition: all 0.5s ease; */
}

.icon {
  display: grid;
  grid-template-columns: 1fr;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.notificationicons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: auto;
  padding: 20px;
}

.returnicon {
  display: grid;
  grid-template-columns: 1fr;
  gap: auto;
  width: 250px;
  height: 250px;
  float: right;
}

.returnicon:hover {
  background-color: lightgray;
  transform: scale(1);
}
