/* Navbar */
.container-fluid {
  background-color: #576490;
  display: none;
}

.navbar.bg-info {
  background-color: #576490 !important;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar, .navbar * {
  border-color: #576490
}

.navbar-brand {
  font-family: "Helvetica", sans-sqerif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

/* map */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  position: fixed;
  top: 0;
 left: 0;
  width: 100%;
  height: 100%; 
  z-index: 1;
}

/* Footer Styling */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: #7796CB;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.footer-icon:hover {
  transform: scale(1.2);
}

.footer-icon svg {
  width: 32px;
  height: 32px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .footer {
    padding: 1.5rem;
  }
  .footer-icon svg {
    width: 24px;
    height: 24px;
  }
}

/* Bottom Sheet */
.bottom-sheet {
  position: fixed;
  left: 0;
  bottom: -40%;
  width: 100%;
  height: 40%;
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: bottom 0.35s ease;
  z-index: 2000;
}

/* The window itself */
.sheet-content {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 18px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
  position: relative; /* allows X button */
}

.sheet-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Close X button */
.close-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  z-index: 10;
}

.close-btn svg {
  pointer-events: none;
}

/* Buttons in window */
.sheet-btn {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  background: #eee;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.sheet-btn:hover {
  background: #e0e0e0;
}

.bottom-sheet.open {
  bottom: 0;
}

#nav {
  display: flex;
  justify-content: flex-start; /* keeps items on the left */
  align-items: center;
  padding: 10px;
}
.setting{
  width: 60px;
}

#profile{
  text-align: center;
  font-size: 50px;
}


.profilepicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.caption{
  font-size: 20px;
}