/* Navbar */
.container-fluid {
  background-color: #576490;
  display: none;
}

.navbar.bg-info {
  background-color: #576490 !important;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar, .navbar * {
  border-color: #576490
}

.navbar-brand {
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}



/* #welcomepage{
} */
    

#user{
    background-color: rgb(176, 176, 176);
    border-radius: 20px;
    height: 180px;
    font-size: 30px;
}

#user2{
    background-color: rgb(179, 178, 178);
    height: 180px;
    border-radius: 20px;
    font-size: 30px;
}
/* main */


/* map */
#map {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  /* overflow: hidden; */
}

