body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* FOOTER */
footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px !important;
  background-color: #7796cb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer-icon svg {
  width: 25px;
  height: 25px;
  color: white;
  margin-bottom: 10px !important;
}

.footer-icon:hover {
  transform: scale(1.12);
}

/* Bottom Sheet */
.bottom-sheet {
  position: fixed;
  bottom: -350px;
  left: 0;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: bottom 0.35s ease;
  z-index: 2000;
}

.bottom-sheet.open {
  bottom: 0;
}

.sheet-content {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 22px 22px 0 0;
  padding: 20px;
  box-shadow: 0 -4px 18px rgba(0,0,0,0.25);
}

.sheet-title {
  text-align: center;
  margin-bottom: 20px;
}

.sheet-btn {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  background: #EEE;
  border: none;
  border-radius: 12px;
  font-size: 18px;
}

.close-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  font-size: 22px;
}


#nav {
  display: flex;
  justify-content: flex-start; /* keeps items on the left */
  align-items: center;
  padding: 10px;
}
.setting{
  width: 60px;
}

#profile{
  text-align: center;
  font-size: 50px;
}


.profilepicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.caption{
  font-size: 20px;
}